* {
	font-family: 'Manrope';
}
.root {
	height: 100vh;
	position: relative;
}
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: black;
	color: white;
	height: 100px;
}
footer {
	width: 100%;
	bottom: 0;
	padding-top: 2rem;
}
nav,
ul {
	list-style: none;
	align-items: center;
	padding: 0 10px;
}
li {
	display: inline;
	line-height: 1.6;
	padding-left: 10px;
}

input {
	margin: 0 20px;
	height: 40px;
	width: 500px;
	font-size: 16px;
}
h4 {
	margin: 15px auto;
}
h2 {
	font-size: 35px;
	font-weight: 600;
}
p {
	margin: 5px auto;
}
.search-container {
	margin: 0 auto;
	height: 88px;
	background-color: rgba(169, 169, 169, 0.5);
}
.search-bar {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 0 auto;
	padding-top: 20px;
}

.search-button {
	height: 45px;
	width: 150px;
	font-size: 16px;
}
.last-search-div {
	margin: 3rem 1rem 1rem;
}
.gallery-container {
	margin: 0 1rem;
}

img.trending {
	width: 130px;
	margin: 0 5px;
	border-radius: 5px;
	object-fit: scale-down;
}
img.thumbnails {
	width: 100%;
	height: 300px;
	object-fit: cover;
}
img.backdrop {
	width: 50%;
	height: auto;
	opacity: 0.85;
	object-fit: cover;
	background-color: black;
}
.trending-container {
	display: flex;
	overflow: auto;
	margin: 0 0 1rem 1rem;
}
.trending-image-container {
	padding-top: 1rem;
}
.trending-image-container:hover {
	background-color: lightgray;
}
.main-gallery {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-gap: 1rem;
}
.single-board {
	background-color: black;
	box-shadow: 3px 3px 10px black;
	opacity: 1;
}
.single-board:hover {
	background-color: lightgrey;
	opacity: 0.9;
	box-shadow: 3px 3px 10px black;
}
.single-board,
a {
	text-decoration: none;
	color: white;
}
.single-board,
a:hover {
	text-decoration: none;
	color: black;
}
h3,
.year-info {
	text-align: center;
	font-size: 18px;
	margin: 5px auto;
}
.year-info {
	font-size: 15px;
}
.brand {
	margin-top: 15px;
	display: flex;
	width: 150px;
	margin-left: 60px;
	float: right;
}
.section-container {
	padding-top: 2rem;
	width: 100%;
	display: flex;
	justify-content: space-around;
	background-color: rgb(53, 53, 53);
}
.movie-container {
	display: flex;
	width: 80%;
	margin: 0 auto;
}
.info-container {
	color: white;
	margin-left: 20px;
	text-align: left;
	width: 800px;
}
.main-logo {
	opacity: 0.8;
}
.main-logo:hover {
	opacity: 1;
}
.show-more {
	margin: 20px auto;
	width: 150px;
	height: 50px;
	
}
.home-button {
	margin-top: 10px;
	margin-right: 10px;
	height: 45px;
	width: 150px;
	font-size: 16px;
}
.add-to-list {
	margin-top: 10px;
	margin-right: 10px;
	height: 45px;
	width: 200px;
	font-size: 16px;
}
